.page {
    padding: 0 25px;
}

.page__head {
    width: 100%;
    height: 10%;
    border: 1px solid #000;
    position: sticky;
    top: 0;
}

.header {
    display: flex;
    justify-content: flex-start;
    background-color: #37b391;
}

.page__left-head {
    width: 50%;
    height: 100%;
}

.left-header {
    display: flex;
    justify-content: start;
}

.left-header__elem {
    display: flex;
    flex: 1;
}

.left-header__elem:hover {
    background-color: lime;
    transition: 0.5s;
}

.simple-block {
    display: flex;
    justify-content: center;
    align-content: center;
}

.left-header__logo {
    height: 100%;
    width: auto;
}

.logo__img {
    height: 100%;
}

.left-header__user-name {
    height: 100%;
    width: 100%;
}

.user-name {
    display: flex;
    align-items: center;
    justify-items: center;
}

.user-name__text {
    margin: auto;
}

.left-header__friends {
    height: 100%;
    width: 100%;
}

.user-friends {
    display: flex;
    align-items: center;
    justify-items: center;
}

.user-friends__text {
    margin: auto;
}

.left-header__messages {
    height: 100%;
    width: 100%;
}

.user-messages {
    display: flex;
    align-items: center;
    justify-items: center;
}

.user-messages__text {
    margin: auto;
}

.left-header__settings {
    height: 100%;
    width: 100%;
}

.user-settings {
    display: flex;
    align-items: center;
    justify-items: center;
}

.user-settings__text {
    margin: auto;
}

.page__right-head {
    display: flex;
    width: 50%;
}

.right-header {
    display: flex;
    justify-content: flex-end;
}

.right-header {
    width: 50%;
    height: 100%;
    justify-content: flex-end;
}

.header-user-avatar {
    height: 100%;
}

.page__main {
    width: 100%;
    min-height: 70%;
    border: 1px solid #000;
}

.main {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #37b391;
}

.main__messages {
    max-width: 50%;
}

.messages-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    background-color: cyan;
}

.messages-block__paragraph {
    margin: 10px auto 0 auto;
    font-size: 30px;
    font-style: italic;
}

.messages {

}

.footer {
    width: 100%;
    height: 20%;
    border: 1px solid #000;
}

@media (max-height: 500px) {
    .header {
        height: 50px;
    }
}